@model UFEvaluations.Models.CourseListViewModel

@{
    ViewBag.Title = "Courses";
}

@section Scripts {
    @Scripts.Render("~/ Scripts / jquery -{ version}.js")
    @Scripts.Render("~/Scripts/loadDatatable.js")
}

<h1>Courses</h1>

<div class="top-area">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Department</th>
                            <th># of responses</th>
                            <th># of students</th>
                            <th># of instructors</th>
                            <th>Response rate</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total/Average</th>
                            <th></th>
                            <th></th>
                            <th>@Model.totalResponses</th>
                            <th>@Model.totalStudents</th>
                            <th>@Model.totalInstructors</th>
                            <th>@Model.averageResponseRate</th>
                            <th>@Model.averageRating</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var course in Model.courses)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(course.code, "Detail", "Courses", new { course = GlobalFunctions.escapeQuerystringElement(course.code) }, null)
                                </td>
                                <td>
                                    @course.title
                                </td>
                                <td>
                                    @Html.ActionLink(course.departmentName, "Detail", "Departments", new { department = GlobalFunctions.escapeQuerystringElement(course.departmentName) }, null)
                                </td>
                                <td>
                                    @course.responses
                                </td>
                                <td>
                                    @course.students
                                </td>
                                <td>
                                    @course.instructors
                                </td>
                                <td>
                                    @course.responseRate
                                </td>
                                <td>
                                    @course.rating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>