@model UFEvaluations.Models.InstructorDetailViewModel

@{
    ViewBag.Title = Model.instructor.firstName + " " + Model.instructor.lastName;
}

@section Scripts {
    @Scripts.Render("~/Scripts/Chart.js")
    @Scripts.Render("~/Scripts/datatables-semester-sort.js")
    @Scripts.Render("~/Scripts/loadDatatable-semester-sort-3.js")
}

<script type="text/javascript" defer="defer">
    document.addEventListener("DOMContentLoaded", function (event) { @Html.Raw(ViewBag.loadChart) });
</script>

<div class="top-area">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">@Model.instructor.firstName @Model.instructor.lastName</h1>
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <h4>Overview</h4>
                <br />
                <div class="row"><div class="col-md-4">First term: </div><div class="col-md-8 text-right">@Model.firstTerm</div></div>
                <div class="row"><div class="col-md-4"># of responses: </div><div class="col-md-8 text-right">@Model.responsesAll</div></div>
                <div class="row"><div class="col-md-4"># of students: </div><div class="col-md-8 text-right">@Model.studentsAll</div></div>
                <div class="row"><div class="col-md-4">Response rate: </div><div class="col-md-8 text-right">@Model.responseRateOverall</div></div>
                <div class="row">
                    <div class="col-md-4">Department: </div>
                    <div class="col-md-8 text-right">
                        @foreach (var dept in Model.departments)
                        {
                            @Html.ActionLink(dept, "Detail", "Departments", new { department = GlobalFunctions.escapeQuerystringElement(dept) }, null) <br />
                        }
                    </div>
                </div>
                <br />
                <br />
                <h4>Ratings</h4>
                <ul class="top-list list-group">
                    @foreach (var rating in Model.overallRatings)
                    {
                        <li class="top-list-element list-group-item"><div class="row"><div class="col-sm-8">@rating.category</div><div class="col-sm-4"><span class="pull-right">@rating.rating</span></div></div></li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-7">
            <h4>Ratings by Category over Time</h4>
            <canvas id="instructorChart" width="400" height="300"></canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>Courses by @Model.currentCategory</h4>
            <br />
            <div class="table-responsive">
                <table class="data-table" id="instructorCourses">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th># of responses</th>
                            <th># of students</th>
                            <th>Response rate</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total/Average</th>
                            <th></th>
                            <th>@Model.totalResponses</th>
                            <th>@Model.totalStudents</th>
                            <th>@Model.averageResponseRate</th>
                            <th>@Model.averageRating</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var course in Model.courses)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(course.code, "Detail", "Courses", new { course = GlobalFunctions.escapeQuerystringElement(course.code) }, null)
                                </td>
                                <td>
                                    @course.title
                                </td>
                                <td>
                                    @course.responses
                                </td>
                                <td>
                                    @course.students
                                </td>
                                <td>
                                    @course.responseRate
                                </td>
                                <td>
                                    @course.rating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row second-row">
        <div class="col-md-12">
            <h4>Sections by @Model.currentCategory</h4>
            <br />
            <div class="table-responsive">
                <table class="data-table" id="instructorSections">
                    <thead>
                        <tr>
                            <th>Course</th>
                            <th>Section</th>
                            <th>Semester</th>
                            <th># of responses</th>
                            <th># of students</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total/Average</th>
                            <th></th>
                            <th></th>
                            <th>@Model.totalResponses</th>
                            <th>@Model.totalStudents</th>
                            <th>@Model.averageRating</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (CourseRatingDomain sect in Model.courseRatingsAll)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(sect.courseCode, "Detail", "Courses", new { course = GlobalFunctions.escapeQuerystringElement(sect.courseCode) }, null)
                                </td>
                                <td>
                                    @sect.section
                                </td>
                                <td>
                                    @sect.semester
                                </td>
                                <td>
                                    @sect.responses
                                </td>
                                <td>
                                    @sect.classSize
                                </td>
                                <td>
                                    @sect.ratings.Where(p => p.categoryID == Convert.ToInt32(GlobalVariables.CurrentCategory)).FirstOrDefault().averageRating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>