@model UFEvaluations.Models.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-6">

    </div>
    <div class="col-md-6">

    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="top-box">
            <h3 class="text-center">Top 15 Courses by Enrollment</h3>
        </div>
        <ul class="top-list list-group">
            @foreach (var course in Model.topCourses)
            {
                <li class="top-list-element list-group-item"><span class="pull-left">@course.Key</span><span class="pull-right">@course.Value</span></li>
            }
        </ul>
        <a href="@Url.Action("List","Courses")" class="btn btn-landing btn-default">View all Courses</a>
    </div>
    <div class="col-md-6">
        <div class="top-box">
            <h3 class="text-center">Top 15 Instructors</h3>
        </div>
        <ul class="top-list list-group">
            @foreach (var instructor in Model.topInstructors)
            {
                <li class="top-list-element list-group-item"><span class="pull-left">@instructor.Key</span><span class="pull-right">@instructor.Value</span></li>
            }
        </ul>
        <a href="@Url.Action("List","Instructors")" class="btn btn-landing btn-default">View all Instructors</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="top-box">
            <h3 class="text-center">Top 15 Departments</h3>
        </div>
        <ul class="top-list list-group">
            @foreach (var department in Model.topDepartments)
            {
                <li class="top-list-element list-group-item"><span class="pull-left">@department.Key</span><span class="pull-right">@department.Value</span></li>
            }
        </ul>
        <a href="@Url.Action("List","Departments")" class="btn btn-landing btn-default">View all Departments</a>
    </div>
    <div class="col-md-6">
        <div class="top-box">
            <h3 class="text-center">Top 15 Colleges</h3>
        </div>
        <ul class="top-list list-group">
            @foreach (var college in Model.topColleges)
            {
                <li class="top-list-element list-group-item"><div class="row"><div class="col-sm-8">@college.Key</div><div class="col-sm-4"><span class="pull-right">@college.Value</span></div></div></li>
            }
        </ul>
        <a href="@Url.Action("List","Colleges")" class="btn btn-landing btn-default">View all Colleges</a>
    </div>
</div>