<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UF Evaluations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("UF Evaluations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Colleges", "List", "Colleges")</li>
                    <li>@Html.ActionLink("Departments", "List", "Departments")</li>
                    <li>@Html.ActionLink("Courses", "List", "Courses")</li>
                    <li>@Html.ActionLink("Instructors", "List", "Instructors")</li>
                </ul>
                <div class="navbar-form navbar-right">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control search-textbox" placeholder="Search" name="searchInput" id="searchInput">
                        </div>
                        <button type="submit" class="btn btn-default btn-blue">Search</button>
                        <script type="text/javascript" defer="defer">
                            document.addEventListener("DOMContentLoaded", function (event) { @Html.Raw(ViewBag.LayoutViewModel.searchScript) });
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row body-content main-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UF Evaluations</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
