<!DOCTYPE html>
<html>
<head>
    @{ Html.RenderPartial("GoogleAnalytics"); }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - UF Evaluations</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Arvo:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet"> </head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("UF Evaluations", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Colleges", "List", "Colleges")</li>
                    <li>@Html.ActionLink("Departments", "List", "Departments")</li>
                    <li>@Html.ActionLink("Courses", "List", "Courses")</li>
                    <li>@Html.ActionLink("Instructors", "List", "Instructors")</li>
                </ul>
                <div class="navbar-form navbar-right">
                    @using (Html.BeginForm("Search", "Search", FormMethod.Post))
                    {
                        <div class="form-group">
                            <input type="text" class="form-control search-textbox" placeholder="Search" name="searchInput" id="searchInput">
                        </div>
                        <button type="submit" class="btn btn-default btn-blue">Search</button>
                        <script type="text/javascript" defer="defer">
                            document.addEventListener("DOMContentLoaded", function (event) { @Html.Raw(ViewBag.LayoutViewModel.searchScript) });
                        </script>
                    }
                    <span class="nav-item dropdown">
                        <div class="navbar-link dropdown-toggle glyphicon glyphicon-cog settings pull-right" id="settingsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></div>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="settingsDropdown">
                            <div class="dropdown-item">
                                <div class="input-group text-center form-group-setting">
                                    <label for="DropdownCategory">Rating type</label><br />
                                    <select class="form-control" name="DropdownCategory" id="DropdownCategory" onchange="updateCategory();">
                                        @foreach (var cat in ViewBag.LayoutViewModel.categories)
                                        {
                                            <option @(cat.Second ? "selected" : "") value="@cat.First.categoryID">@cat.First.name</option>
                                        }
                                    </select>
                                    <script type="text/javascript" defer="defer">
                                        document.addEventListener("DOMContentLoaded", function (event) {
                                            updateCategory = function () {
                                                var newValue = $('#DropdownCategory').find(':selected').val();
                                                $.ajax({
                                                    url: '/Settings/SetCategory',
                                                    type: 'POST',
                                                    dataType: 'json',
                                                    data: { Category: newValue }
                                                }).done(function (data) {

                                                });
                                            }
                                        });
                                    </script>
                                </div>
                                @if ((ViewContext.RouteData.Values["Controller"].ToString() == "Instructors" && ViewContext.RouteData.Values["Action"].ToString() == "Detail") ||
                                    ViewContext.RouteData.Values["Controller"].ToString() == "Courses" && ViewContext.RouteData.Values["Action"].ToString() == "Detail")
                                {
                                    <div class="input-group text-center form-group-setting">
                                        <label for="DropdownSemester">Semester range</label><br />
                                        <div>From</div>
                                        <select class="form-control" name="DropdownSemesterLow" id="DropdownSemesterLow" onchange="updateSemesterLow();">
                                            @foreach (var sem in ViewBag.LayoutViewModel.semestersLow)
                                            {
                                                <option @(sem.Second ? "selected" : "") value="@sem.First.key">@sem.First.semester</option>
                                            }
                                        </select>
                                        <script type="text/javascript" defer="defer">
                                            document.addEventListener("DOMContentLoaded", function (event) {
                                                updateSemester = function () {
                                                    var newValue = $('#DropdownSemester').find(':selected').val();
                                                    $.ajax({
                                                        url: '/Settings/SetSemester',
                                                        type: 'POST',
                                                        dataType: 'json',
                                                        data: { Semester: newValue },
                                                        success: function (data) {

                                                        }
                                                    });
                                                }
                                            });
                                        </script>
                                        <div>to</div>
                                        <select class="form-control" name="DropdownSemesterHigh" id="DropdownSemesterHigh" onchange="updateSemesterHigh();">
                                            @foreach (var sem in ViewBag.LayoutViewModel.semestersHigh)
                                            {
                                                <option @(sem.Second ? "selected" : "") value="@sem.First.key">@sem.First.semester</option>
                                            }
                                        </select>
                                        <script type="text/javascript" defer="defer">
                                            document.addEventListener("DOMContentLoaded", function (event) {
                                                updateSemesterLow = function () {
                                                    var newValue = $('#DropdownSemesterLow').find(':selected').val();
                                                    $.ajax({
                                                        url: '/Settings/SetSemesterLow',
                                                        type: 'POST',
                                                        dataType: 'json',
                                                        data: { Semester: newValue },
                                                        success: function (data) {

                                                        }
                                                    });
                                                }
                                                updateSemesterHigh = function () {
                                                    var newValue = $('#DropdownSemesterHigh').find(':selected').val();
                                                    $.ajax({
                                                        url: '/Settings/SetSemesterHigh',
                                                        type: 'POST',
                                                        dataType: 'json',
                                                        data: { Semester: newValue },
                                                        success: function (data) {

                                                        }
                                                    });
                                                }
                                            });
                                        </script>
                                    </div>
                                }
                                else
                                {
                                    <div class="input-group text-center form-group-setting">
                                        <label for="DropdownSemester">Semester</label><br />
                                        <select class="form-control" name="DropdownSemester" id="DropdownSemester" onchange="updateSemester();">
                                            @foreach (var sem in ViewBag.LayoutViewModel.semesters)
                                            {
                                                <option @(sem.Second ? "selected" : "") value="@sem.First.key">@sem.First.semester</option>
                                            }
                                        </select>
                                        <script type="text/javascript" defer="defer">
                                            document.addEventListener("DOMContentLoaded", function (event) {
                                                updateSemester = function () {
                                                    var newValue = $('#DropdownSemester').find(':selected').val();
                                                    $.ajax({
                                                        url: '/Settings/SetSemester',
                                                        type: 'POST',
                                                        dataType: 'json',
                                                        data: { Semester: newValue },
                                                        success: function (data) {

                                                        }
                                                    });
                                                }
                                            });
                                        </script>
                                    </div>
                                }
                                <script type="text/javascript" defer="defer">
                                            document.addEventListener("DOMContentLoaded", function (event) {
                                                $('.dropdown-menu').on('click', function (e) {
                                                    e.stopPropagation();
                                                });
                                            });
                                </script>
                                <button class="btn btn-green pull-right" value="Refresh" onclick="window.location.reload();"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row body-content main-content">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UF Evaluations</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
