@model UFEvaluations.Models.CollegeDetailViewModel

@{
    ViewBag.Title = Model.college.name;
}

@section Scripts {
    @Scripts.Render("~/Scripts/datatables-semester-sort.js")
    @Scripts.Render("~/Scripts/loadDatatable-semester-sort-3.js")
}

<h1>@Model.college.name</h1>
<p>
    This page displays a list of instructors who taught within the @Model.college.name. It includes the department of each instructor,
    the last semester this instructor taught, the total number of responses received, the total number of students within each class,
    the average response rate, and the average rating by category for each college for <strong>@Model.currentSemester</strong>. The type
    of rating and the semester can be adjusted by clicking on the <span class="glyphicon glyphicon-cog"></span> symbol.
</p>
<div class="top-area">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Instructor</th>
                            <th>Department</th>
                            <th>Last semester</th>
                            <th># of responses</th>
                            <th># of students</th>
                            <th>Response rate</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total/Average</th>
                            <th></th>
                            <th></th>
                            <th>@Model.totalResponses</th>
                            <th>@Model.totalStudents</th>
                            <th>@Model.averageResponseRate</th>
                            <th>@Model.averageRating</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var instructor in Model.instructors)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(instructor.firstName + " " + instructor.lastName, "Detail", "Instructors", new { instructor = GlobalFunctions.escapeQuerystringElement(instructor.firstName + instructor.lastName) }, null)
                                </td>
                                <td>
                                    @Html.ActionLink(instructor.department, "Detail", "Departments", new { department = GlobalFunctions.escapeQuerystringElement(instructor.department) }, null)
                                </td>
                                <td>
                                    @instructor.lastSemester
                                </td>
                                <td>
                                    @instructor.responses
                                </td>
                                <td>
                                    @instructor.students
                                </td>
                                <td>
                                    @instructor.responseRate
                                </td>
                                <td>
                                    @instructor.rating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>