@model UFEvaluations.Models.CollegeDetailViewModel

@{
    ViewBag.Title = Model.college.name;
}

@section Scripts {
    @Scripts.Render("~/ Scripts / jquery -{ version}.js")
    @Scripts.Render("~/Scripts/loadDatatable.js")
}

<h1>@Model.college.name</h1>

<div class="top-area">
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Instructor</th>
                            <th>Department</th>
                            <th>Last semester</th>
                            <th># of responses</th>
                            <th># of students</th>
                            <th>Response rate</th>
                            <th>Rating</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Total/Average</th>
                            <th></th>
                            <th></th>
                            <th>@Model.totalResponses</th>
                            <th>@Model.totalStudents</th>
                            <th>@Model.averageResponseRate</th>
                            <th>@Model.averageRating</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var instructor in Model.instructors)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(instructor.firstName + " " + instructor.lastName, "Detail", "Instructors", new { instructor = GlobalFunctions.escapeQuerystringElement(instructor.firstName + instructor.lastName) }, null)
                                </td>
                                <td>
                                    @Html.ActionLink(instructor.department, "Detail", "Departments", new { department = GlobalFunctions.escapeQuerystringElement(instructor.department) }, null)
                                </td>
                                <td>
                                    @instructor.lastSemester
                                </td>
                                <td>
                                    @instructor.responses
                                </td>
                                <td>
                                    @instructor.students
                                </td>
                                <td>
                                    @instructor.responseRate
                                </td>
                                <td>
                                    @instructor.rating
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>